html, body { 
  margin:0; 
  padding:0;
}

body {
  font-family:sans-serif;
}

p {
  text-align:center;
  color:gray;
}

ul {
  margin:0;
  padding:0;
}

li {
  margin:0;
  padding:0;
}

a { 
  text-decoration:none; 
}
a, a:hover, a:active, a:visited { 
  color: black;
}

@media (min-device-width : 481px) {
  img, a {
    display:block;
    margin:auto;
  }
  
  li {
    display:inline-block;
    width:25%;
    text-align:center;
  }
  .service {
    visibility: hidden; display: block; 
  }
  li:hover .service { 
    visibility:visible; 
  }
  
}


@media (max-device-width : 480px) {
  li {
    display:block;
    margin-left:8px;
  } 
  li a {
    display:inline-block;
    line-height:45px;
    vertical-align:middle;
  }
  a img {
    vertical-align:middle;
  }
}