html, body { 
  margin:0; 
  padding:0;
}

body {
  font-family:sans-serif;
}

p {
  text-align:center;
  color:gray;
}

ul {
  margin:0;
  padding:0;
}

img, a {
  display:block;
  margin:auto;
}

li {
  margin:0;
  padding:0;
  display:inline-block;
  width:25%;
  text-align:center;
}

a { 
  text-decoration:none; 
}
a, a:hover, a:active, a:visited { 
  color: black;
}

.service {
  visibility: hidden; display: block; 
}
li:hover .service { 
  visibility:visible; 
}